<%= form_for @post, url: {action: 'create'}, :html => {:class => "form-horizontal"} do |f| %>
	<fieldset>
		<legend>Добавит запись</legend>
		<div class="control-group">
		 	<label class="control-label" for="title">Название</label>
		 	<div class="controls">
		 		<%= f.text_field :title, :class => "input-xlarge", id: "title" %>
			</div>
		</div>

		<!-- Textarea -->
		<div class="control-group">
			<label class="control-label" for="annot">Аннотация</label>
			<div class="controls">   
		 	<%= f.text_area :annot, id: "annot", :class => "span6", :rows=>5  %>
		  </div>
		</div>		
		<div class="control-group">
			<label class="control-label" for="description">Описание</label>
			<div class="controls">   
		 	<%= f.text_area :description, id: "description", :class => "span6", :rows=>5 %>
		  </div>
		</div>		
		<div class="control-group">
			<label class="control-label" for="enable">Включить</label>
			<div class="controls">   
		 	<%= f.check_box :enable, id: "enable" %>
		  </div>
		</div>		
		<div class="control-group">
			<div class="controls">   
		 	<%= f.submit "Создать", :class => "btn btn-success" %>
		  </div>
		</div>
	</fieldset>
<% end %>